/*!
 * CSS3 3D Cube Example
 * http://gamedesign.cc/html5games/perspective-cube/
 * 
 * This is an example game for the book HTML5 Games Development: A Beginning Guide.
 * 
 * Copyright 2010, Thomas Mak Seng Hin
 * makzan@gmail.com
 *   
 * All Right Reserved.
 */
 
 
 
.game {
	-webkit-perspective: 3000;	
}

.game2{
	-webkit-perspective: 600;
}

.game .cube {
	position: relative;
	height: 400px;
	width: 400px;
	margin: 100px auto;	
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateX(-30deg) rotateY(42deg);
}

.face {

	border: 10px soild #000;
	
	position: absolute;
	width: 295px;
	height: 295px;
	background: rgba(90, 90, 90, 0.6);
	
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	font-size: 50px;

}

.cube .one {
	-webkit-transform: rotateX(90deg) translateZ(150px);
}

.cube .two {
	-webkit-transform: translateZ(150px);
}

.cube .three {
	-webkit-transform: rotateY(90deg) translateZ(150px);
}

.cube .four {
	-webkit-transform: rotateY(180deg) translateZ(150px);
}

.cube .five {
	-webkit-transform: rotateY(-90deg) translateZ(150px);
}

.cube .six {
	-webkit-transform: rotateX(-90deg) translateZ(150px) rotate(180deg);
}
